/*슬라이더 css*/
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

/*토글 버튼 css*/

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 30px;
    vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.toggle_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    margin-left: 0px !important;
}

.toggle_slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle_slider {
    background-color: #2196F3;
}

input:focus + .toggle_slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle_slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.toggle_slider.round {
    border-radius: 34px;
}

.toggle_slider.round:before {
    border-radius: 50%;
}
