@font-face {
    font-family: 'SegmentA1';
    src: url(../fonts/SEA_____.TTF) format('truetype');
}

@font-face {
    font-family: 'MainWeight';
    src: url(../fonts/Gravity-Regular.otf) format('opentype');
}
body {
    background-color: #d4cfbb;
    padding: 13px;
}

.upper_container {
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.upper_title {
    display: flex;
    align-items: center;
}

.upper_title h1{
    margin: 0em 0.5em;
    font-size: 2em;
}

.upper_title span {
    font-size: 1em !important;
}

.logo {
    width: auto;
    height: auto;
    max-height: 60px;
}

.seq_state_out_container {
    width: 35%;
    display: inline-block;
}

.seq_state_container {
    display: flex;
    justify-content: space-evenly;
}

.seq_state_box {
    width: 20%;
    text-align: center;
}

.seq_state_box div {
    margin: 0 auto;
    width: 21px;
    height: 21px;
    border-radius: 50%;
}

.seq_state_box span {
    font-size: 0.8em;
}

.seq_state_on {
    background-color: #F00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.seq_state_off {
    background-color: #ABFF00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.button_container {
    /* display: inline-block;
    float: right; */
}

.button_container button {
    width: 80px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    border: solid 2px #000000;
    border-radius: 12px;
}

.button_container button:disabled {
    background-color: #ffffff;
    color: #000000;
}

.main_container {
    background-color: #000000;
    border-radius: 35px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/**
***index.html 전용
**/
.main_display {
    text-align: center;
}

.main_state {
    display: inline-block;
    width: 11%;
    font-size: 22px;
    text-align: right;
}

.main_state div {
    font-weight: bold;
    margin-bottom: 5px;
}

.main_weight {
    display: inline-block;
    text-align: right;
    width: 65%;
}

.main_unit {
    display: inline-block;
    width: 8%;
}

.comp_state_container {
    display: inline-block;
    width: 5%;
    font-size: 25px;
}

.comp_state_container div{
    margin-bottom: 15px;
    color: #ffffff;
}

.sub_display {
    text-align: center;
}

.sub_weight {
    display: inline-block;
    font-family: MainWeight;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
    width: 14%;
}

.sub_weight .title {
    text-align: left !important;
    height: 30px;
}

#displayMsg {
    font-family: MainWeight;
    font-size: 135px;
}

#unit {
    font-size: 50px;
    font-family: MainWeight;
}

.bottom_container {
    text-align: center;
}

.bottom_btn_container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.btn_frame {
    /* margin-left: 15px;
    margin-right: 15px; */
}

.btn_frame button {
    width: 80px;
    height: 70px;
    border-radius: 12px;
    color: #ffffff;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #000000;
}

.btn_frame button:disabled {
    color: #000000;
    background-color: #ffffff;
}

/* ### ### ### 01 */
/* .b01_simple_rollover {
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #ffffff;
}

.b01_simple_rollover:hover {
    color: #ffffff;
    background-color: #000000;
} */



/**
***config.html, pcconfig.html 전용
**/
.row_container {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
}

.row_container div {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.row_title {
    width: 50%;
    justify-content: center;
}

.row_content {
    width: 50%;
}

.row_content span {
    margin-left: 10px;
}

.row_content input {
    height: 25px;
}

.row_item {
    width: 30%;
}

.button_label {
    display: inline-block;
    padding: 0em 1em;
    color: #292929;
    border-radius: 0.25em;
    background: #efefef;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    /* transition: 0.3s; */
    user-select: none;
}

.button_label h1 {
    font-size: 0.9em;
}

#dataBitsRadios1:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#dataBitsRadios2:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#parityRadios1:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#parityRadios2:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#parityRadios3:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#stopbitsRadios1:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#stopbitsRadios2:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#terminatorRadios1:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#terminatorRadios2:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#fontColorRadios1:checked + .button_label {
    background: #ff0000;
    color: #000000;
}

#fontColorRadios2:checked + .button_label {
    background: #ffff00;
    color: #000000;
}

#fontColorRadios3:checked + .button_label {
    background: #00b8dd;
    color: #000000;
}

#printConditionRadios1:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#printConditionRadios2:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#comparatorModeRadios1:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#comparatorModeRadios2:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

#comparatorModeRadios3:checked + .button_label {
    background: #2ECC71;
    color: #ffffff;
}

.hidden {
    display: none;
}

select {
    width: 50%;
    height: 30px;
    padding-left: 5px;
    font-size: 15px;
    color: black;
    border-radius:3px;
    border: 1px solid black;
}
