<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>AN4102(RaspberryPi) 설정</title>

        <script>
            window.onload = function() {
                require('../logic/config');
            }
        </script>
        <link rel="stylesheet" type="text/css" href="../css/index.css"/>
        <link rel="stylesheet" type="text/css" href="../css/tenkey.css"/>
        <link rel="stylesheet" type="text/css" href="../css/config.css"/>
    </head>
    <body>
        <!--Header-->
        <div>
            <div class="upper_container">
                <span class="upper_title">CONFIG</span>
                <span>ROM Ver. </span><span id="romVer"></span>
                <!--Button Container-->
                <div class="button_container">
                    <button type="button" target="_blank" id="configOk">CONFIRM</button>
                    <button type="button" target="_blank" id="closeConfigWindow">BACK</button>
                </div>
            </div>
        </div>
        <!--Body-->
        <div>
            <!--통신설정-->
            <div id="serialDiv" class="main_container" style="display:block">
                <div class="row_container">
                    <div class="row_title">
                        <span>Baudrate</span>
                    </div>
                    <div class="row_content">
                        <select id="baudrateSelect">
                            <option value="24">2400</option>
                            <option value="48">4800</option>
                            <option value="96">9600</option>
                            <option value="192">19200</option>
                            <option value="384">38400</option>
                        </select>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Databits</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="dataBitsRadios" id="dataBitsRadios1" value="7">
                            <label for="dataBitsRadios1">
                            7bits
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="dataBitsRadios" id="dataBitsRadios2" value="8">
                            <label for="dataBitsRadios2">
                            8bits
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Parity</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="parityRadios" id="parityRadios1" value="0">
                            <label for="parityRadios1">
                            None
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="parityRadios" id="parityRadios2" value="1">
                            <label for="parityRadios2">
                            Odd
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="parityRadios" id="parityRadios3" value="2">
                            <label for="parityRadios3">
                            Even
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Stopbits</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="stopbitsRadios" id="stopbitsRadios1" value="1">
                            <label for="stopbitsRadios1">
                            1bit
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="stopbitsRadios" id="stopbitsRadios2" value="2">
                            <label for="stopbitsRadios2">
                            2bits
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Terminator</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="terminatorRadios" id="terminatorRadios1" value="1">
                            <label for="terminatorRadios1">
                            CRLF
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="terminatorRadios" id="terminatorRadios2" value="2">
                            <label for="terminatorRadios2">
                            CR
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!--기본설정 좌(I)-->
            <div id="basicLeftDiv" class="main_container" style="display:none;">
                <div class="row_container">
                    <div class="row_title">
                        <span>디지털필터</span>
                    </div>
                    <div class="row_content">
                        <select id="digitalFilterSelect">
                            <option value="0">없음</option>
                            <option value="1">2.5Hz</option>
                            <option value="2">2.0Hz</option>
                            <option value="3">1.5Hz</option>
                            <option value="4">1.0Hz</option>
                            <option value="5">0.7Hz</option>
                            <option value="6">0.5Hz</option>
                            <option value="7">0.35Hz</option>
                            <option value="8">0.25Hz</option>
                            <option value="9">0.20Hz</option>
                            <option value="10">0.15Hz</option>
                            <option value="11">0.10Hz</option>
                        </select>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>홀드모드</span>
                    </div>
                    <div class="row_content">
                        <select id="holdModeSelect">
                            <option value="0">홀드하지 않음</option>
                            <option value="1">샘플 홀드</option>
                            <option value="2">피크 홀드</option>
                            <option value="3">버튼 홀드</option>
                            <option value="4">양극성, 피크 홀드</option>
                        </select>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>평균화 시간</span>
                    </div>
                    <div class="row_content">
                        <input type="range" min="0" max="99" class="slider" id="averageTimeSlider">
                        <span id="averageTimeSliderValue"></span>
                    </div>
                </div>
            </div>

            <!--기본설정 우(II)-->
            <div id="basicRightDiv" class="main_container" style="display:none;">
                <div class="row_container">
                    <div class="row_title">
                        <span>제로 확보 범위</span>
                    </div>
                    <div class="row_content">
                        <input type="range" min="0" max="100" class="slider" id="zeroRangeSlider">
                        <span id="zeroRangeSliderValue"></span>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>영점 트래킹 시간</span>
                    </div>
                    <div class="row_content">
                        <input type="range" min="0" max="50" class="slider" id="zeroTrackingTimeSlider">
                        <span id="zeroTrackingTimeSliderValue"></span>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>영점 트래킹 폭</span>
                    </div>
                    <div class="row_content">
                        <input type="range" min="0" max="99" class="slider" id="zeroTrackingWidthSlider">
                        <span id="zeroTrackingWidthSliderValue"></span>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>파워 온 제로</span>
                    </div>
                    <div class="row_content">
                        <label class="switch" for="powerOnZeroToggle">
                        <input type="checkbox" id="powerOnZeroToggle">
                        <span class="toggle_slider round"></span>
                        </label>
                    </div>
                </div>
            </div>

            <!--외부출력-->
            <div id="externalPrintDiv" class="main_container" style="display:none;">
                <div class="keypad" id="keypad_config" style="display:none;">
                    <ul id="keyboard">
                        <li class="key_config">1</li>
                        <li class="key_config">2</li>
                        <li class="key_config">3</li>

                        <li class="key_config clearl">4</li>
                        <li class="key_config">5</li>
                        <li class="key_config">6</li>

                        <li class="key_config clearl">7</li>
                        <li class="key_config ">8</li>
                        <li class="key_config">9</li>

                        <li class="key_btn_config clearl">+/-</li>
                        <li class="key_config">0</li>
                        <li class="key_btn_config">삭제</li>
                        <li class="key_btn_config">확인</li>
                    </ul>
                </div>
                <div class="keypad" id="keypad_nearzero" style="display:none;">
                    <ul id="keyboard">
                        <li class="key_nearzero">1</li>
                        <li class="key_nearzero">2</li>
                        <li class="key_nearzero">3</li>

                        <li class="key_nearzero clearl">4</li>
                        <li class="key_nearzero">5</li>
                        <li class="key_nearzero">6</li>

                        <li class="key_nearzero clearl">7</li>
                        <li class="key_nearzero ">8</li>
                        <li class="key_nearzero">9</li>

                        <li class="key_btn_nearzero clearl">+/-</li>
                        <li class="key_nearzero">0</li>
                        <li class="key_btn_nearzero">삭제</li>
                        <li class="key_btn_nearzero">확인</li>
                    </ul>
                </div>

                <div class="row_container">
                    <div class="row_title">
                        <span>출력조건</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="printConditionRadios" id="printConditionRadios1" value="0" checked="">
                            <label for="printConditionRadios1">
                            설정값 초과
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="printConditionRadios" id="printConditionRadios2" value="1">
                            <label for="printConditionRadios2">
                            설정값 미만
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>설정값</span>
                    </div>
                    <div class="row_content">
                        <input class="form-control w-25 d-inline-block" id="configValueText">
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>비교모드</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="comparatorModeRadios" id="comparatorModeRadios1" value="0" checked="">
                            <label for="comparatorModeRadios1">
                            비교X
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="comparatorModeRadios" id="comparatorModeRadios2" value="1">
                            <label for="comparatorModeRadios2">
                            영점 부근 이외
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="comparatorModeRadios" id="comparatorModeRadios3" value="2">
                            <label for="comparatorModeRadios3">
                            항상
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>영점부근비교</span>
                    </div>
                    <div class="row_content">
                        <input id="nearZeroText">
                    </div>
                </div>
            </div>

            <!--교정설정-->
            <div id="calibrationConfigDiv" class="main_container" style="display:none;">
                <div class="keypad" id="keypad_capa" style="display:none;">
                    <ul id="keyboard">
                        <li class="key_capa">1</li>
                        <li class="key_capa">2</li>
                        <li class="key_capa">3</li>

                        <li class="key_capa clearl">4</li>
                        <li class="key_capa">5</li>
                        <li class="key_capa">6</li>

                        <li class="key_capa clearl">7</li>
                        <li class="key_capa ">8</li>
                        <li class="key_capa">9</li>

                        <li class="key_btn_capa clearl"></li>
                        <li class="key_capa">0</li>
                        <li class="key_btn_capa">삭제</li>
                        <li class="key_btn_capa">확인</li>
                    </ul>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>CAPA(최대용량)</span>
                    </div>
                    <div class="row_content">
                        <input class="form-control w-25 d-inline-block" id="capaText">
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>DIV(최소눈금)</span>
                    </div>
                    <div class="row_content">
                        <select id="divSelect" class="custom-select mr-sm-2">
                            <option value="1">1눈금</option>
                            <option value="2">2눈금</option>
                            <option value="5">5눈금</option>
                            <option value="10">10눈금</option>
                            <option value="20">20눈금</option>
                            <option value="50">50눈금</option>
                        </select>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>소수점</span>
                    </div>
                    <div class="row_content">
                        <select id="decimalPointSelect" class="custom-select mr-sm-2">
                            <option value="0">1234</option>
                            <option value="1">123.4</option>
                            <option value="2">12.34</option>
                            <option value="3">1.234</option>
                        </select>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>단위</span>
                    </div>
                    <div class="row_content">
                        <select id="unitSelect" class="custom-select mr-sm-2">
                            <option value="0">없음</option>
                            <option value="1">그램(g)</option>
                            <option value="2">킬로그램(kg)</option>
                            <option value="3">톤(t)</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--교정(CAL0, CALF)-->
            <div id="calDiv" class="main_container" style="display:none;">
                <div class="keypad" id="keypad_span" style="display:none;">
                    <ul id="keyboard">
                        <li class="key_span">1</li>
                        <li class="key_span">2</li>
                        <li class="key_span">3</li>

                        <li class="key_span clearl">4</li>
                        <li class="key_span">5</li>
                        <li class="key_span">6</li>

                        <li class="key_span clearl">7</li>
                        <li class="key_span ">8</li>
                        <li class="key_span">9</li>

                        <li class="key_btn_span clearl">+/-</li>
                        <li class="key_span">0</li>
                        <li class="key_btn_span">삭제</li>
                        <li class="key_btn_span">확인</li>
                    </ul>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <button id="calZeroButton">CAL 0</button>
                        <h4 class="mb-3" id="checkCalZero"></h4>
                    </div>
                    <div class="row_content">
                        <span>무부하 상태에서 </br>"CAL 0" 버튼을 클릭합니다.</span>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <button id="calSpanButton">CAL F</button>
                        <h4 class="mb-3" id="checkCalSpan"></h4>
                    </div>
                    <div class="row_content">
                        <span>SPAN 값을 입력하고 로드셀에 </br>분동을 올린 후 "CAL F" 버튼을 클릭합니다.</span>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>입력하기</span>
                    </div>
                    <div class="row_content">
                        <input id="spanValueText">
                    </div>
                </div>
            </div>

            <!--초기화-->
            <div id="initDiv" class="main_container" style="display:none;">
                <div class="row_container">
                    <div class="row_title">
                        <button id="initFunctionFButton">F펑션</br>초기화</button>
                    </div>
                    <div class="row_content">
                        <span>통신/기본(좌)/외부출력 초기화</span>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <button class="btn btn-primary mr-3" id="initConfigButton">모든 설정</br>초기화</button>
                    </div>
                    <div class="row_content">
                        <span>통신/기본/외부출력/교정 초기화</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        <div class="bottom_container">
            <div class="bottom_btn_container">
                <div class="btn_frame">
                    <button type="button" id="serialConfigButton">SERIAL</br>CONFIG</button>
                </div>
                <div class="btn_frame">
                    <button type="button" id="basicLeftConfigButton">BASIC</br>I</button>
                </div>
                <div class="btn_frame">
                    <button type="button" id="basicRightConfigButton">BASIC</br>II</button>
                </div>
                <div class="btn_frame">
                    <button type="button" id="externalPrintConfigButton">EXTERNAL</button>
                </div>
                <div class="btn_frame">
                    <button type="button" id="calibrationConfigButton">CAL</br>CONFIG</button>
                </div>
                <div class="btn_frame">
                    <button type="button" id="calButton">CAL</button>
                </div>
                <div class="btn_frame">
                    <button type="button" id="initButton">INIT</button>
                </div>
            </div>
        </div>
    </body>
</html>
