<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>AN4102(RaspberryPi) 기기설정</title>

        <script>
            window.onload = function() {
                require('../logic/pcconfig');
            }
        </script>
        <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    </head>
    <body>
        <!--Header-->
        <div>
            <div class="upper_container">
                <span class="upper_title">
                    <h1>DEVICE PROTOCOL</h1>
                </span>
                <!--Button Container-->
                <div class="button_container">
                    <button type="button" target="_blank" id="pcConfigOkButton">CONFIRM</button>
                    <button type="button" target="_blank" id="pcConfigCloseButton">BACK</button>
                </div>
            </div>
        </div>
        <!--Body-->
        <div>
            <div class="main_container">
                <div class="row_container">
                    <div class="row_title">
                        <span>Port</span>
                    </div>
                    <div class="row_content">
                        <select id="portSelect">
                        </select>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Baudrate</span>
                    </div>
                    <div class="row_content">
                        <select id="baudrateSelect">
                            <option value="24">2400</option>
                            <option value="48">4800</option>
                            <option value="96">9600</option>
                            <option value="192">19200</option>
                            <option value="384">38400</option>
                        </select>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Databits</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="dataBitsRadios" id="dataBitsRadios1" class="hidden" value="7">
                            <label for="dataBitsRadios1" class="button_label">
                                <h1>7bits</h1>
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="dataBitsRadios" id="dataBitsRadios2" class="hidden" value="8">
                            <label for="dataBitsRadios2" class="button_label">
                                <h1>8bits</h1>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Parity</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="parityRadios" id="parityRadios1" class="hidden" value="0">
                            <label for="parityRadios1" class="button_label">
                                <h1>None</h1>
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="parityRadios" id="parityRadios2" class="hidden" value="1">
                            <label for="parityRadios2" class="button_label">
                                <h1>Odd</h1>
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="parityRadios" id="parityRadios3" class="hidden" value="2">
                            <label for="parityRadios3" class="button_label">
                                <h1>Even</h1>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Stopbits</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="stopbitsRadios" id="stopbitsRadios1" class="hidden" value="1">
                            <label for="stopbitsRadios1" class="button_label">
                                <h1>1bit</h1>
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="stopbitsRadios" id="stopbitsRadios2" class="hidden" value="2">
                            <label for="stopbitsRadios2" class="button_label">
                                <h1>2bits</h1>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Terminator</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="terminatorRadios" id="terminatorRadios1" class="hidden" value="1">
                            <label for="terminatorRadios1" class="button_label">
                                <h1>CRLF</h1>
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="terminatorRadios" id="terminatorRadios2" class="hidden" value="2">
                            <label for="terminatorRadios2" class="button_label">
                                <h1>CR</h1>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="row_title">
                        <span>Font Color</span>
                    </div>
                    <div class="row_content">
                        <div class="row_item">
                            <input type="radio" name="fontColorRadios" id="fontColorRadios1" class="hidden" value="1">
                            <label for="fontColorRadios1" class="button_label">
                                <h1>RED</h1>
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="fontColorRadios" id="fontColorRadios2" class="hidden" value="2">
                            <label for="fontColorRadios2" class="button_label">
                                <h1>YELLOW</h1>
                            </label>
                        </div>
                        <div class="row_item">
                            <input type="radio" name="fontColorRadios" id="fontColorRadios3" class="hidden" value="3">
                            <label for="fontColorRadios3" class="button_label">
                                <h1>BLUE</h1>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
